.fieldsight-new{
  .fieldsight-btn{
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
    background: $color-blue;
    color: $color-white !important;
    box-shadow: none;
    border:none;
    text-transform: capitalize;
    font-size: 0.8125rem;
    cursor: pointer;
    position: relative;
    @include radius(4px);
    @include animate_all(all 0.5s);
    cursor: pointer;
    @include box_shadow($boxshadow:0 1px 6px rgba(57, 73, 76, 0.35));
    i{
      margin-left:0.5rem;
    }
    &.small-btn{
        height: 24px;
        line-height: 24px;
        display: inline-block;
    }
    &.approved-btn{
      background: $color-green;
    }
    &.rejected-btn{
      background: $color-red;
    }
    &.flagged-btn{
      background: $color-yellow;
      
    }
    // &.icon-btn{
    //   padding:1px 5px;
    //   height: auto;
    //   i{
    //     margin:0;
    //   }
    // }
      
      
      
    &:hover{
        color:$color-white;
        background-color: rgba($color-green, 0.8);
    }
    &.approved-btn{
      background-color: $color-green;
    }
    &.rejected-btn{
      background-color: $color-red;
    }
    &.flagged-btn{
      background-color: $color-yellow;
    }
    
  }
  .dash-btn{
    @include flex_end;
    align-items: center;
    .fieldsight-btn{
      margin-left: 1rem;
      i{
        margin:0;

      }
      span{
        margin:0 0.6125rem;
      }
      &::after{
        display: none;
      }
      &.left-icon{
        i{
          margin-right: 0.6125rem;
        }
      }
    }
    .dropdown{
      .dropdown-menu{
        @include boxshadow;
        border:0;
        @include animZoom-before;
        @include anim05;
        a{
          font-size: 0.8125rem;
          text-transform: capitalize;
          padding:0.25rem 0.6125rem;
          border-bottom: 1px solid $color-bg;
          &:first-child{
            padding-top: 0;
          }
          &:last-child{
            border-bottom: 0;
            padding-bottom: 0;
          }
        }
        &.show{
          @include animZoom-before
        }
      }
      .dropdown-toggle{
        position: relative;
        padding-right: 1rem;
        &:before{
          
          @include translatey;
          right:7px;
          content:"\f110";
          font-family: 'LineAwesome';
          z-index: 99;
          font-size:0.875rem;
        }
      }
    }
  }
  .cropper-btn{
    @include clear;
    margin-bottom: 1rem;
    i{
      margin:0;
      font-size:1rem;
    }
    .fieldsight-btn:first-child{
      margin-right: 0.5rem;
    }
  }
  button:focus{
    box-shadow: none;
    -webkit-outline:none;
    outline:none;
  }
  .download{
    color:$color-download !important;;
  }
  .edit, strong.approved, .approved{
    color:$color-green !important;
  }
  .hide{
    color:$color-hide ;
  }
  a.pending, strong.pending, .pending {
    color:$color-blue !important;;
    text-transform: capitalize;
  }
  a.approved, strong.approved{
    color:$color-green;
    text-transform: capitalize;
  }
  a.flagged, strong.flagged, .flagged{
    color:$color-yellow !important;;
    text-transform: capitalize;
  }
  a.rejected, strong.rejected , .rejected{ 
    color:$color-red !important;;
    text-transform: capitalize;
  }

  .add-btn{
    @include flexjust;
    justify-content: center;
    align-items: center;
    @include clear;
    a{
      color:$color-blue;
      font-weight: 500;
      font-size: 0.875rem;
      margin-left: 0.625rem;
      span{
        width:24px;
        height: 24px;
        line-height: 24px;
        padding:5px;
        background-color: $color-blue;
        color:$color-white;
        @include radius(50%);
        margin-left:0.635rem;
        @include box_shadow($boxshadow:0 1px 6px rgba(57, 73, 76, 0.35));
      }
    }
    &.flex-start{
      justify-content: flex-start;
      a{
        margin:0;
      }
    }
  }
  .btn-toggle {
    border-radius: 1.5rem;
    color: #6b7381;
    background: $color-bg;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3.8rem;
    border-radius: 1.5rem;
    text-align: right;
    padding:0 0.4rem;
    text-transform: capitalize;
    
    .handle {
      position: absolute;
      top: 0.1875rem;
      left: 0.1875rem;
      width: 1.125rem;
      height: 1.125rem;
      border-radius: 1.125rem;
      background: $color-white;
      transition: right 0.25s;
    }
  }
}
