.fieldsight-new {
  .routing-list {
    @include flex_start;
    align-items: center;

    li {
      list-style: none;
      margin-right: 0.5rem;
      text-transform: capitalize;
    }
  }

  #main-content {
    position: relative;
  }

  .thumb-list {
    margin-top: 1rem;

    ul {
      li {
        @include flexjust;
        justify-content: flex-start;
        // align-items: center;
        flex-wrap: nowrap;
        padding: 0.5rem 0;
        border-bottom: 1px solid $color-bg;
        @include easein_out(all 0.3s ease-in-out);

        figure {
          margin: 0;
          @include radius(50%);
          flex: 0 0 55px;
          overflow: hidden;

          img {
            @include radius(50%);
            max-width: 40px;
            height: 40px;
            @include easein_out(all 0.5s ease-in-out);
            @include transform_scale(scale(1));
          }
        }

        .content {
          h6 {
            margin-bottom: 0.2rem;
          }

          span {
            font-size: 0.775rem;
            color: rgba($color-primary, 0.8);
          }
        }

        p {
          margin: 0;

          a {
            font-weight: 600;
            color: $color-blue;
          }
        }

        .review-text {
          width: auto;
          margin: 0.5rem 0;
          font-style: italic;
          position: relative;
          padding: 0 1rem;
          // &::after {
          //   position: absolute;
          //   right: 0;
          //   bottom: 0;
          //   content: "\f2ce";
          //   font-family: "LineAwesome";
          // }
          // &::before {
          //   position: absolute;
          //   left: 0;
          //   top: 0;
          //   content: "\f2cd";
          //   font-family: "LineAwesome";
          // }
        }

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
        }
        &:hover{
          background-color: lighten($color-bg, 7%);
          figure{
            img{
              @include transform_scale(scale(1.1));
            }
          }
        }
      }
    }

    &.userlist,
    &.teamlist {
      li {
        position: relative;

        .checkbox-btn {
          position: absolute;
          right: 0;
          top: 0.6125rem;
        }
      }
    }

    &.globallist {
      form {
        .input-group.copyurl {
          .input-group-text {
            background: transparent;
            cursor: pointer;
          }
        }
      }
    }
  }

  .normal-list {
    ul {
      li {
        padding: 0.6125rem 0;
        border-bottom: 1px solid $color-bg;

        h6 {
          font-size: 0.875rem;
          font-weight: 500;
          margin: 0;
        }

        label {
          font-weight: 500;
          margin-right: 0.5rem;
          margin-bottom: 0;
          text-transform: capitalize;
        }

        time {
          color: rgba($color-primary, 0.8);
        }

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
        }
      }
    }
  }

  .submission-sidebar {
    .thumb-list {
      ul {
        li {
          .content {
            figure {
              flex: initial;
              max-width: 100%;
              max-height: 150px;
              overflow: hidden;
              border-radius: 0;

              img {
                max-width: 100%;
                width: auto;
                height: auto;
                @include radius4;
              }
            }
          }
        }
      }
    }
  }

  .submission-list {
    margin-top: 1rem;

    .submission-map {
      .map-legend {
        margin-top: 1rem;

        p {
          margin-bottom: 0.2rem;

          span {
            min-width: 5rem;
            display: inline-block;
          }

          label {
            font-weight: 600;
            margin-left: 0.5rem;
          }
        }
      }
    }

    ul {
      li {
        &:first-child {
          padding: 0.5rem 0;
        }

        &:last-child {
          padding: 0.5rem 0;
          border-bottom: 1px solid $color-bg;
        }
      }
    }
  }

  .submission-card {
    .thumb-list {
      &.submission-list {
        ul {
          li {
            flex-wrap: wrap;

            .content {
              width: 100%;
              float: none;
            }

            figure {
              margin-top: 0.5rem;
              flex: initial;

              img {
                max-width: 100%;
                height: auto;
                max-height: 200px;
                @include radius4;
              }
            }
          }
        }
      }
    }
  }

  .right-content {
    background-color: $color-white;
    margin-bottom: 2rem;

    .identity-form {

      // padding:1rem;
      .form-group {
        @include clear;
      }

      .nice-select {
        background-color: $color-white;
        border: none;
        border-radius: 0;
        font-size: 0.8125rem;
        padding-left: 0;
        border-bottom: 1px solid $color-bg;

        ul {
          @include boxshadow;
        }

        &::after {
          border-bottom: 1.5px solid $color-secondary;
          border-right: 1.5px solid $color-secondary;
          height: 10px;
          width: 10px;
        }
      }

      .hide-form {
        display: none;
      }
    }

    .before-content {
      ul {
        li {
          @include clear;
          margin-bottom: 0.2rem;
          font-size: 0.775rem;

          label {
            margin: 0;
            width: 70px;
            font-weight: 600;
            display: inline-block;
          }

          span {
            width: calc(100% - 80px);
            float: right;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .site-details {
      text-align: center;

      figure {
        max-width: 200px;
        width:200px;
        height: 200px;
        @include radius4;
        border: 1px solid $color-bg;
        padding: 0.25rem;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
      }

      .content {
        margin-top: 1rem;

        h4 {
          margin: 0;
          font-size: 1rem;
        }

        p {
          margin: 0.25rem;
        }
      }
    }

    .site-info {
      ul {
        li {
          padding: 0.25rem 0;
          border-bottom: 1px solid $color-bg;

          label {
            font-weight: 500;
            margin-right: 0.5rem;
            margin-bottom: 0;
            text-transform: capitalize;
          }

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
          }
        }
      }

      &.board-site-info {
        ul {
          @include rowflex;

          li {
            @include rowcol;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            border: 0;
            padding: 0 15px;

            p {
              padding: 0.25rem 0;
              margin: 0;
              border-bottom: 1px solid $color-bg;
            }
          }
        }
      }
    }

    &.no-bg {
      background-color: transparent;
    }
  }

  .accordion {
    .card {
      .card-header {
        padding: 0.6125rem;
        background-color: rgba($color-bg, 0.5);
        border: none;

        h5 {
          margin: 0;
          font-size: 1rem;

          a,
          button.btn.btn-link {
            display: block;
            width: 100%;
            text-align: left;
            text-decoration: none;
            font-size: 0.875rem;
            font-weight: 500;
            color: $color-primary;
            // color:$color-blue;
            // font-size: 1rem;
            // text-transform: capitalize;
            margin: 0;
            padding: 0;
            padding-right: 0.7rem;
            position: relative;

            &:after {
              content: "\f110";
              /* fa-chevron-down */
              font-family: "LineAwesome";
              position: absolute;
              right: 0;
              top: 0;
            }

            i {
              position: relative;
              z-index: 99;
              margin-left: 0.5rem;
              color: $color-blue;

              &:hover {
                color: $color-green;
              }
            }

            span {
              i {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }

    &.sidebar-accordion {
      padding: 0 1rem;

      .card {
        .card-header {
          @include flex_start;
          background: transparent;
          border-bottom: 1px solid $color-bg;

          figure {
            max-width: 50px;
            @include radius50;
            display: inline-block;
            margin-right: 15px;
            margin-bottom: 0;

            img {
              width: 50px;
              height: 50px;
              @include radius50;
            }
          }

          h5 {
            width: calc(100% - 69px);
            display: inline-block;
            vertical-align: middle;
            font-size: 0.875rem;
            line-height: 1.2rem;

            a {
              padding-right: 1rem;

              &::after {
                top: 0;
                right: -0.5rem;
              }
            }
          }

          p {
            color: rgba($color-primary, 0.5);
            font-size: 0.775rem;
            margin: 0;
            line-height: 1rem;
          }
        }

        ul {
          li {
            @include flexjust;
            margin-bottom: 0.5rem;
            flex-wrap: nowrap;
            align-items: center;
            border-bottom: 1px solid $color-bg;

            a {
              padding: 0.5rem;
              display: block;
              padding-left: 1.3rem;
              position: relative;


              &::before {
                content: "\f274";
                font-family: "LineAwesome";
                position: absolute;
                left: 0;
              }

              &.project-link {
                // width:1.2rem;
                // height: 1.2rem;
                // @include flexvr;
                // background-color: $color-green;
                // color:$color-white;
                @include radius4;
                padding: 0;
                cursor: pointer;
                margin-left: 0.5rem;
                font-size: 1.2rem;

                &::before {
                  display: none;
                }
              }
            }

            &.active,
            &:hover {
              border-color: $color-blue;

              a {
                color: $color-blue;

                &.project-link {
                  padding: 0;
                }
              }
            }

            &:hover {
              a {
                padding-left: 1.5rem;
              }
            }

            &:first-child {
              padding-top: 0;
            }

            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }

  .group-submission {
    .accordion {
      .collapse {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 1px;
          height: 100%;
          background-color: $color-bg;
        }
      }

      .card {
        margin-top: 1.5rem;
        border-right: 1px solid $color-bg;
        border-bottom: 1px solid $color-bg;

        .card-header {
          h5.rotate {

            a,
            button.btn.btn-link {
              &::after {
                content: "\f113" !important;
              }
            }

            &.non-rotate {

              a,
              button.btn.btn-link {
                &::after {
                  content: "\f110" !important;
                }
              }
            }
          }
        }

        .subgroup {
          .card-body {
            position: relative;

            &::before {
              content: "";
              width: 1rem;
              left: -1rem;
              position: absolute;
              top: -1.1rem;
              height: 1px;
              background-color: $color-bg;
            }

            &::after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              width: 1px;
              height: 100%;
              background-color: $color-bg;
            }
          }

          .card-header {
            h5 {
              font-size: 0.9375rem;
            }
          }
        }
      }
    }
  }

  .nav-wrapper {
    position: relative;

    .add-btn {
      @include translatey;
      right: 0;
    }
  }

  embed,
  iframe {
    width: 100%;
    border: none;
  }

  .sub-regions {
    margin-bottom: 2rem;

    .sub-regions-item {
      background-color: $color-bg;
      padding: 1rem;

      h5 {
        font-size: 0.875rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0;
      }

      h6 {
        font-size: 0.775rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0.25rem 0;
      }

      p {
        margin: 0;

        label {
          margin: 0 0.5rem 0 0;
          font-weight: 500;
        }
      }
    }
  }

  @media screen and (max-width: $lg-tab) {
    .right-content {
      margin-top: 2rem;
    }
  }

  @media screen and (max-width: $mb-lg) {
    .right-content {
      .site-info {
        &.board-site-info {
          ul {
            li {
              -ms-flex: 0 0 100%;
              flex: 0 0 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}