@import "report-table";

.reports {

    h2,
    h3 {
        font-size: .875rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
    }

    h2 {
        color: $secondary-light;
    }

    h3 {
        color: $primary-light-1;
    }

    .reports-header {
        @include display-flex(flex);
        @include justify-content-between;
        @include align-items-center;
    }

    .custom-template {
        margin-top: 3rem;
    }

    .report-list {
        border-bottom: 1px solid $color-border;
        padding: .5rem 0;
        position: relative;
        padding-right: 5rem;

        p {
            margin: 0;
            font-size: .75rem;
        }

        .report-content {

            cursor: pointer;

            h4 {
                font-size: 1rem;
                color: $heading-color;
            }

            .summary-content {
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-center;
            }

            p {
                color: $color-primary;

                b {
                    text-transform: capitalize;
                    color: $primary-light;
                    font-weight: 500;

                    &::after {
                        content: ':';
                        display: inline-flex;
                        margin: 0 .25rem;

                    }

                }

                &:not(:last-child) {
                    margin-right: 1rem;
                    ;
                }


            }

            a {
                color: $color-primary;

                h4 {
                    font-size: 1rem;
                    color: $heading-color;
                }

                p {
                    color: $color-primary;

                    b {
                        color: $primary-light;
                    }


                }
            }


            ul {
                &.form-data {
                    padding-left: .6125rem;
                    margin-top: 1rem;

                    li {
                        a {
                            color: $color-secondary;
                            text-transform: capitalize;
                            padding: .25rem 1rem .25rem 1.5rem;
                            display: block;
                            font-weight: 600;
                            font-size: .875rem;
                            position: relative;

                            &::before {
                                @include translatey;
                                left: 0;
                                content: 'expand_more';
                                font-family: 'Material Icons';
                                text-transform: initial;
                                font-size: 1.3rem;
                                font-weight: 400;
                                color: $primary-light;
                            }
                        }

                        .form-data-list {
                            display: none;

                            p {
                                margin: .45rem 1.5rem;
                                font-weight: 500;
                                cursor: pointer;

                                &:hover {
                                    color: $color-secondary;
                                }

                                ul {
                                    display: none;
                                    margin-left: 1rem;
                                    padding: .25rem;

                                    li {
                                        font-weight: 400;
                                    }
                                }

                                &.dropdown {
                                    padding-left: 1rem;
                                    position: relative;
                                    font-weight: 600;

                                    &::after {
                                        content: 'expand_more';
                                        font-family: 'Material Icons';
                                        left: 0;
                                        position: absolute;
                                        top: 0;
                                    }

                                    &.active {
                                        ul {
                                            display: block;

                                            p {
                                                font-size: .9375rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.open {
                            a {
                                &::before {
                                    @include translatey;
                                    left: 0;
                                    content: 'expand_less';
                                    font-family: 'Material Icons';
                                    text-transform: initial;
                                    font-size: 1.3rem;
                                    font-weight: 400;
                                    color: $color-secondary;
                                }
                            }
                        }
                    }
                }
            }

            &:hover {
                h4 {
                    color: $color-secondary;
                }
            }

        }

        .report-share-time {
            @include display-flex(flex);
            @include justify-content-between;
            @include flex-base(50%);


            .report-item {
                h6 {
                    font-size: .75rem;
                    text-transform: uppercase;
                    color: $primary-light-1;
                }

                ul {
                    li {
                        color: $color-secondary;
                        cursor: pointer;
                        padding: 0;
                        border: 0;

                    }
                }
            }
        }

        .report-option {
            position: absolute;
            right: .6125rem;
            top: .6125rem;

            .common-button {
                min-width: auto;
                padding: 0;
                @include radius(50%);
                width: 2rem;
                height: 2rem;
                justify-content: center;
                @include transition(all .3s ease-in-out);

                i {
                    margin: 0;
                    color: $primary-light;
                }

                &::before {
                    display: none;
                }

                &:hover {
                    background-color: $primary-light-1;
                }

                &::after {
                    display: none;
                }
            }
        }
    }

    .filter-all-header {
        .report-type {

            // @include display-flex(flex);
            // @include justify-content-between;
            // @include align-items-center;
            form {
                .form-group {
                    &.inline-form-group {
                        label {
                            max-width: 90px !important;
                        }
                    }
                }
            }

            button {
                &.common-button {
                    float: right;
                    position: relative;

                    i {
                        &.arrow-icon {
                            margin: 0 0 0 .6125rem;
                        }
                    }
                }
            }
        }
    }

    .data-filter {
        &.filter-bottom {
            background-color: $color-border;
            padding: 1rem;
        }
    }

    .selected-column {
        background-color: $color-white;
        padding: .6125rem;
        min-height: 100vh;
    }

    .acc-body {
        .scrollbar-container {
            background-color: $color-white;
        }
    }
}

.view-report {
    @include display-flex(flex);
    @include justify-content-start;
    @include align-items-center;

    p {
        color: $color-primary;
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;
        margin-bottom: .25rem;

        b {
            text-transform: capitalize;
            color: $primary-light;
            font-weight: 500;

            &::after {
                content: ':';
                display: inline-flex;
                margin: 0 .25rem;

            }

        }

        &:not(:last-child) {
            margin-right: 1rem;
        }

        span {
            i {
                color: $color-green;
                cursor: pointer;
                font-size: 1rem;
            }
        }


    }

}

.description {
    display: block;
    width: 100%;
}