.Toastify__toast--success {
  background: #00628e;
}

#lightboxBackdrop {
  z-index: 9999;
}

.custom-map-modal .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.custom-map-modal .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  position: fixed;
}
